$colors-list: #5d93a7 #b3e791 #4002d5 #06cdea #193ed6 #9f12b7 #08e187 #1e35ea #6c7590 #429bdf #06f1a3 #e11ee3 #e9d5da #995bef #b39dab #ed5dd0 #2628d5 #714c65 #6b43b1 #bd3636 #7b15cc #ede38c #e44621 #766a6a #a07e93 #a6bc4c #dbe347 #f2a5ba #646e51 #69489b #dc9071 #b5c513 #9b2aa1 #0f4da4 #3e8e2b #a35fcb #62a561 #451565 #92e2a5 #37d4f5 #ef5e02 #4ce20f #3f85a2 #618bc1 #18c6f3 #caf344 #21e100 #ce3dbf #17a03c #fb298c #43efe7 #807367 #6d38f4 #bf4c8b #4d916e #d89685 #569e8c #6055ee #8f925b #6ed106 #ae85c1 #a4219e #138c00 #9a2e1e #f45f18 #a1430e #58678d #8cdf70 #3f9f4d #cdb411 #b72271 #2eb3b5 #9dbc25 #277e56 #da3853 #239df0 #8aa3b1 #327f65 #159cac #376374 #5d221d #012542 #6211ef #c267c2 #ea32ea #ede491 #2ee507 #b0eabf #9c3ea6 #3002f5 #2bfec4 #d6b39c #aa1d53 #64a4d9 #b8a4d1 #68ea7c #6e0444 #a4a7a1 #9d1f1c #e513c8 #73d4c4 #e04977 #7a91c7 #582324 #9ea3d2 #d47173 #c2feae #f22ed4 #d22713 #8ef948 #c5e65a #214869 #47a28c #239450 #72fc86 #400f00 #99954b #ae92c7 #234750 #a0f775 #b40145 #e5d788 #3f6261 #f953e8 #14baef #3c4b0d #328472 #8dc2fe #7040e9 #f6aa13 #024654 #15d98a #d3b663 #2fdc1d #b19cf9 #487c68 #9f31df #5de2d7 #2a6477 #d6b10d #04c181 #e0da52 #5c3b4b #945259 #f8abb0 #cf4020 #ca295f #60f13f #1b8cda #ff4a19 #af7ad9 #cefe6e #f451d7 #c84ad9 #fbea8c #7f7b19 #6a7f38 #7eb4b9 #000f0f #7fd367 #4ed686 #b15537 #b9b888 #465364 #64a8a8 #cd2407 #5cc1e5 #d3b476 #ff6f07 #a32b69 #fd4d46 #1b91d1 #85dfe0 #4be2ab #ba7bce #376050 #080505 #44536c #caaceb #541fd9;

$me: rgb(154, 46, 30);

$edu-self: #68ea7c;
$edu-cs: #8aa3b1;

$exp-more: rgb(244, 95, 24);
$exp-less: lighten($exp-more, 30%);

$empathy: #e513c8;
$patience: #239df0;
$consistency: #2ee507;
$teaching: rgb(133, 85, 195);
