#slide.me {
  #dots > div {
    opacity: 0;

    &:first-of-type {
      $dot-size: 50vmin;
      background-color: $me;
      opacity: 1;

      margin-left: 25vmin;
      margin-top: 25vmin;

      height: $dot-size;
      width: $dot-size;
    }
  }
}

#slide.me {
  #title {
    .me {
      opacity: 1;
      top: 0;
    }
  }

  #legend .me {
    opacity: 1;

    span:before { color: $me; }
  }
}
