@charset "utf-8";
@import "normalize";
@import "colors";

$dots-per-row: 10;
$dot-size: (100.0/$dots-per-row) + 0vh;
$length: length($colors-list);
$mod-y: 0vh;
$curve: cubic-bezier(1.000, -0.5, 0.405, 1.425);

@import "start";
@import "purpose";
@import "me";
@import "us";
@import "in10";
@import "research";
@import "values";
@import "discuss";

html {
  font: normal normal 60px/1.2 "Helvetica Neue", Helvetica, sans;
  color: white;
  height: 100vh;
}

body {
  background: lighten(#000, 10%);
  height: 100vh;
}

#notes {
  font-size: 0.3rem;
  margin: 1rem auto;
  width: 85vw;
}

#images {
  display: inline-block;
  width: 65vw;

  div {
    height: 100vh;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  img {
    height: 100%
  }
}

#text {
  background: lighten(#000, 30%);
  float: right;
  overflow: auto;
  position: relative;
  width: 35vw;
  height: 100vh;

  #title {
    font-size: 1rem;
    margin: 0 0 5vh;
    position: relative;
    height: 40vh;
    text-align: center;

    div {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: -100vh;
      transition: all 1s ease-in-out;
      width: 100%;
    }
  }

  #legend {
    position: relative;
    height: 55vh;

    > div {
      height: 100%;
      position: absolute;
      opacity: 0;
      top: 0;
      transition: all 1s ease-in-out;
      width: 100%;
    }

    span {
      display: block;
      font-size: 0.5rem;
      line-height: 0.75rem;
      padding-left: 0.5rem;

      &:before {
        display: inline-block;
        content: "•";
        vertical-align: middle;
        font-size: 2rem;
      }

      &.footnote {
        position: absolute;
        bottom: 0.25rem;
        font-size: 0.25rem;
        line-height: 1;
        font-style: italic;

        &:before { content: ""; }
      }
    }
  }
}

#dots {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;

  > div {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;

    border-radius: 50%;
    display: inline-block;
    height: $dot-size;
    width: $dot-size;
    transform: scale(0.85);
    transition: all 1s 0.2s ease-in-out,
                margin 1s $curve;
  }
}
