@charset "utf-8";
@import "normalize";
@import "colors";

$dots-per-row: 10;
$dot-size: (100.0/$dots-per-row) + 0vmin;

html {
  font-size: 60px;
  color: white;
  height: 100vh;
}

body {
  height: 100vh;
  overflow: hidden;
}

#dots {
  background: lighten(#000, 10%);
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;

  &.start div {
    margin: 0 !important;
  }

  div {
    position: absolute;
    left: 0;
    top: 0;

    border-radius: 50%;
    display: inline-block;
    height: $dot-size;
    width: $dot-size;
    transform: scale(0.85);
    transition: all 1s ease-in-out,
                margin 1s cubic-bezier(1.000, -0.5, 0.405, 1.425);
  }

  $length: length($colors-list);
  $mod-y: 0vh;

  @for $i from 1 through $length {
    $color: nth($colors-list, $i);
    $mod-x: (($length - $i) % $dots-per-row) * $dot-size;
    
    div:nth-of-type(#{$i}) {
      background: nth($colors-list, $i);
      margin-left: $mod-x;
      margin-top: $mod-y;
      transition-delay: $i / (random(10) * 50) + s;
    }

    @if $i % $dots-per-row == 0 {
      $mod-y: $mod-y + 10;
    }
  }
}
