!!! 5
%html{ lang: "en" }
  %head
    %title Things You Forgot Were Hard
    <link href="stylesheets/site.css" rel="stylesheet" />
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

  %body#failure
    = yield
    <script src="javascripts/all.js"></script>
