#slide.start
  #dots
    - 100.times do
      %div
    %section#text
      %h1#title
        .start Things You Forgot Were Hard
        .purpose The Purpose of This Discussion
        .me This Is Me
        .us This Is Us
        .research There's Been Research
        .values Teaching is a Blended Skill
        .discuss Let's Discuss
      %section#legend
        .values
          %span Empathy
          %span Patience
          %span Consistency
          %span Effective Teaching
