#slide
  #dots
    - 100.times do
      %div
    %section#images
      .research
        %img{ src: '/images/wizard.png', alt: 'A Unix Wizard, wearing a robe and pointy hat, prepares an incantation to repartition a filesystem'}
    %section#text
      %h1#title
        .dzzy Content Warning: Motion & Color Shifting
        .start Things You Forgot Were Hard
        .purpose The Purpose of This Discussion
        .me This Is Me
        .us This Is Us
        .in10 For Every Ten of Us
        .in10edu Most of Us Do Not Have a CS Education
        .in10exp Most of Us Haven't Been Doing This Long
        .research There's Been Research
        .stages Five Stages of Skill Mastery
        .values Teaching is a Blended Skill
        .discuss Let's Discuss
      %section#legend
        .me
          %span +10 yrs experience
          %span "Self-taught"
          %span Privileged
          %span Polyglot developer
        .in10
          %span.footnote Data from http://stackoverflow.com/research/developer-survey-2016#developer-profile-experience
        .in10edu
          %span Has a CS Degree
          %span Doesn't
          %span.footnote Data from http://stackoverflow.com/research/developer-survey-2016#developer-profile-experience
        .in10exp
          %span Less Than 10 Years
          %span 10 Years or More
          %span.footnote Data from http://stackoverflow.com/research/developer-survey-2016#developer-profile-experience
        .research
          %span.footnote Image from "Pragmatic Thinking and Learning" published by the Pragmatic Bookshelf. Absolutely used without permission.
        .stages
          %span Novice
          %span Advanced Beginner
          %span Competence
          %span Proficiency
          %span Expertise
        .values
          %span Empathy
          %span Patience
          %span Consistency
          %span Effective Teaching
